// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

.fixed-banner-top {
    height:87px;
    width:100%;
    background-color:red;
    position:fixed;
}

.banner-logo {
    margin: 24px 40px 0px 32px;
    padding: 6px 0px 0px 0px;
    background-color:purple;
    width:166px;
    height:34px;
    z-index:1;
    position:absolute;
}

.banner-navi {
    display:block;
    float:left;
}

header div ul li {
    position:absolute;
    z-index:1;
    height:60px;
    width:60px;
    color:blue;
    
}

.home-dock {
    width:100%;
    height:800px;
    background-color:blue;
}

.sub-header {
    height:343px;
    width:100%;
    background-color:green;
}

.row1 {
    height:609.78px;
    width:100%;
    background-color:blue;
}

.row2 {
    height:652.78px;
    width:100%;
    background-color:green;
}

.communication {
    width:100%;
    height:311px;
    background-color: #b3d4fc;
}

.footer {
    position:absolute;
    width:100%;
    height:84px;
    padding: 30 32;
    background-color:white;
}